.details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.details__column {
    margin: auto;
    padding: 1rem;

}

.details__column ul {
    list-style-position: inside;
}

.bookings {
    font-size: 14px;
    margin: auto;
    width: 600px;
    text-align: center;
}

.bookings ul {
    list-style-type: none;
    text-align: center;
}
