.details {
    display: flex;
   justify-content: center;
   padding: 0

}

.details__column {
    align-items: center;
    padding: 0 4rem 0 4rem;

}

.details__column ul {
    list-style-position: inside;
}

.bookings {
    font-size: 14px;
    margin: auto;
    width: 600px;
    text-align: center;
}

.bookings ul {
    list-style-type: none;
    text-align: center;
}
